@import "tailwindcss";

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="number"],
textarea,
select {
  color: #111827;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="url"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder {
  color: #6b7280;
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="url"]:disabled,
input[type="number"]:disabled,
textarea:disabled,
select:disabled {
  color: #374151;
  background-color: #f3f4f6;
}

body {
  font-family: var(--font-geist-sans);
  color: #1f2937;
}